---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Eventio | Log In">
  <main class="min-h-screen bg-white">
    <div class="mx-auto min-h-screen max-w-[1440px] lg:grid lg:grid-cols-[480px_1fr]">
      <aside class="relative hidden h-screen overflow-hidden bg-[#323C46] lg:block">
        <img src="/images/login-side.png" alt="" class="absolute -left-[83px] -top-px h-[1025px] w-[683px] object-cover opacity-[0.11]" />
        <div class="absolute left-[61px] top-[39px]">
          <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 26.942V0H16.872V4.94H5.244V11.096H15.77V15.77H5.244V22.002H16.872V26.942H0ZM21.47 23.75C21.47 22.7873 21.8057 21.9703 22.477 21.299C23.1483 20.6277 23.9653 20.292 24.928 20.292C25.4093 20.292 25.8653 20.3807 26.296 20.558C26.7267 20.7353 27.1003 20.9823 27.417 21.299C27.7337 21.6157 27.9807 21.983 28.158 22.401C28.3353 22.819 28.424 23.2687 28.424 23.75C28.424 24.2313 28.3353 24.681 28.158 25.099C27.9807 25.517 27.7337 25.8843 27.417 26.201C27.1003 26.5177 26.7267 26.7647 26.296 26.942C25.8653 27.1193 25.4093 27.208 24.928 27.208C23.9653 27.208 23.1483 26.8723 22.477 26.201C21.8057 25.5297 21.47 24.7127 21.47 23.75Z" fill="white"></path>
          </svg>
        </div>
        <div class="absolute left-[85px] top-[780px] w-[310px] text-center">
          <p class="font-['Playfair_Display'] text-[36px] leading-[42px] text-white">"Great, kid. Don't get cocky!"</p>
          <div class="mt-5 mx-auto h-[2px] w-[12px] bg-[#1BE38B]"></div>
          <p class="mt-3 text-[18px] leading-6 text-[#949EA8]">Han Solo</p>
        </div>
      </aside>

      <section class="relative flex min-h-screen px-6 py-7 sm:px-10 lg:px-0">
        <div class="w-full lg:mx-auto lg:max-w-[720px] lg:pl-[240px] lg:pr-[80px]">
          <div class="mt-0 flex items-center justify-between lg:mt-10 lg:justify-end">
            <div class="lg:hidden">
              <svg width="23" height="22" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 26.942V0H16.872V4.94H5.244V11.096H15.77V15.77H5.244V22.002H16.872V26.942H0ZM21.47 23.75C21.47 22.7873 21.8057 21.9703 22.477 21.299C23.1483 20.6277 23.9653 20.292 24.928 20.292C25.4093 20.292 25.8653 20.3807 26.296 20.558C26.7267 20.7353 27.1003 20.9823 27.417 21.299C27.7337 21.6157 27.9807 21.983 28.158 22.401C28.3353 22.819 28.424 23.2687 28.424 23.75C28.424 24.2313 28.3353 24.681 28.158 25.099C27.9807 25.517 27.7337 25.8843 27.417 26.201C27.1003 26.5177 26.7267 26.7647 26.296 26.942C25.8653 27.1193 25.4093 27.208 24.928 27.208C23.9653 27.208 23.1483 26.8723 22.477 26.201C21.8057 25.5297 21.47 24.7127 21.47 23.75Z" fill="#323C46"></path>
              </svg>
            </div>
            <p class="text-[14px] leading-6 text-[#C9CED3]">Don't have account?</p>
          </div>

          <div class="mx-auto mt-[56px] max-w-[272px] text-center lg:mx-0 lg:mt-[271px] lg:max-w-none lg:text-left">
            <h1 class="text-[22px] font-normal leading-[48px] text-[#323C46] lg:text-[28px]">Sign in to Eventio.</h1>
            <p class="text-[14px] font-normal leading-6 text-[#949EA8] lg:text-[18px]">Enter your details below.</p>
          </div>

          <form class="mx-auto mt-6 w-[272px] lg:mx-0 lg:mt-[24px] lg:w-[480px]">
            <label class="block text-[14px] leading-6 text-[#D2D6DA] lg:text-[18px] lg:text-[#C9CED3]">Email</label>
            <input type="email" value="tomas.vranek@strv.co" class="mt-px w-full border-b border-[#DAE1E7] bg-transparent pb-[7px] text-[18px] leading-6 text-[#323C46] outline-none" />

            <label class="mt-4 block text-[14px] leading-6 text-[#D2D6DA] lg:mt-10 lg:text-[18px] lg:text-[#C9CED3]">Password</label>
            <div class="relative">
              <input type="password" value=".........." class="w-full border-b border-[#DAE1E7] bg-transparent pb-[7px] pr-8 text-[18px] leading-6 text-[#323C46] outline-none lg:text-[33px] lg:leading-6 lg:tracking-[-3.4px]" />
              <img src="/images/icon-show.png" alt="" class="absolute right-0 top-1 h-6 w-6 opacity-80" />
            </div>


            <button type="button" class="mt-10 h-[57px] w-[240px] rounded-[4px] bg-[#22D486] text-center text-[16px] font-normal uppercase tracking-[1px] text-white hover:bg-[#20BD78]">
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </main>
</MainLayout>
